*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* scroll pannalum image fix */
  font-family: Arial, sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo{
  font-size: 28px;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  margin-left: 20px;
}

nav ul li a{
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  text-decoration: underline;
}

/* Hero */
.hero{
  height: 80vh;
  /*background-image: url("images/hero.png");*/
  background-image: url("wep page model.png"); /* image path */
  background-size: cover;
  background-position: center;
}

/* Content */
.content{
  padding: 40px;
  text-align: center;
}

.content h1{
  color: #ff1a66;
  margin-bottom: 15px;
}

.content p{
  font-size: 18px;
  line-height: 1.6;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  overflow-x:hidden;
}

/* Header Ribbon */
.header{
  position:absolute;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:linear-gradient(to right,#ff3b3b,#ffb347);
  padding:12px 30px;
  border-radius:40px;
  z-index:10;
}

